APP_NAME=Project Odin
APP_ENV=development
APP_DEBUG=true
API_V1_PREFIX=/api/v1

POSTGRES_DB=odin
POSTGRES_USER=odin
POSTGRES_PASSWORD=change_me_now
POSTGRES_HOST=db
POSTGRES_PORT=5432

DATABASE_URL=postgresql+asyncpg://odin:change_me_now@db:5432/odin
