# Environment
.env
.venv/
venv/

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
build/
.coverage
htmlcov/

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/

# OS
.DS_Store
Thumbs.db

# Docker / databases
postgres_data/

# Frontend
node_modules/
dist/
.next/
*.tsbuildinfo
